In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data={'A': [15,13,14],
      'B': [67,89,48]}

In [ ]:
df=pd.DataFrame(data)
print(df)

    A   B
0  15  67
1  13  89
2  14  48

In [ ]:
print(df.head(2))

    A   B
0  15  67
1  13  89

In [ ]:
print(df.tail(2))

    A   B
1  13  89
2  14  48

In [ ]:
dat1={'AB':[11,12,13,14,15],
      'CD':[405,None,786,None,593]}
xy=pd.DataFrame(dat1)
cnt=xy.count()
print(cnt)

AB    5
CD    3
dtype: int64

In [ ]:
c_sum=df.sum()
print(c_sum)

A     42
B    204
dtype: int64

In [ ]:
print(df.mean())

A    14.0
B    68.0
dtype: float64

In [ ]:
print(df.median())

A    14.0
B    67.0
dtype: float64

In [ ]:
D3={'A':[19,46,38,19,39,68]}
sd=pd.DataFrame(D3)
print(sd.mode())

    A
0  19

In [ ]:
print(df.std())

A     1.000000
B    20.518285
dtype: float64

In [ ]:
print(df.min())

A    13
B    48
dtype: int64

In [ ]:
print(df.max())

A    15
B    89
dtype: int64

In [ ]:
fg={'nm':[10,-20,30,-40]}
kl=pd.DataFrame(fg)
print(kl)
print(kl.abs())

   nm
0  10
1 -20
2  30
3 -40
   nm
0  10
1  20
2  30
3  40

In [ ]:
print(df.prod())

A      2730
B    286224
dtype: int64

In [ ]:
print(df.cumsum())

    A    B
0  15   67
1  28  156
2  42  204

In [ ]:
print(df.cumprod())

      A       B
0    15      67
1   195    5963
2  2730  286224

In [ ]:
print(df.describe())

          A          B
count   3.0   3.000000
mean   14.0  68.000000
std     1.0  20.518285
min    13.0  48.000000
25%    13.5  57.500000
50%    14.0  67.000000
75%    14.5  78.000000
max    15.0  89.000000